{% extends "user/base.html" %}

{% block content1 %}
	<h1 align="center">Change Password </h1>
{% endblock %}

{% block content2 %}
<div class="form">
<div class="formwrap">
<br>

  {% if form.errors %}
<p>Your passwords didn't match. Please try again.</p>
{% endif %}

<form action="{% url 'django.contrib.auth.views.password_change' %}" method="post">
{% csrf_token %}

<label class="description">Old Password</label>
{{ form.old_password }}

<label class="description">New Password</label>
{{ form.new_password1 }}

<label class="description">Confirm New Password</label>
{{ form.new_password2 }}
<br />

<input type="submit" class="button_text" style="width:150px;" value="Change Password"/>
</form>

</div>
</div>
{% endblock %}