{% extends "user/baselogin.html" %}

{% block content %}   

<div class="splitter">
   
		<h1>Create Account</h1>
        
        <p>Fill out the registration form and start sharing tools today!</p>
</div>

<div class="formwrap">
		<form action="{% url 'registerSubmit' %} "class="appnitro"  method="post" >
            {% csrf_token %}
           
                <ul >
                    
					<li id="li_2" >
            <label class="description" for="element_2">Name </label>
            <span>
                {{ form.fname}}
               
            </span>
             ,
            <span>
                {{ form.lname }}
            </span>
            </li>		<li id="li_1" >
            <label class="description" for="element_1">Email </label>
            <div>
                {{ form.email }}
            </div>
            </li>		<li id="li_3" >
            <label class="description" for="element_3">Password </label>
            <div>
                {{ form.password1 }}
            </div>
            </li>		
            <li id="li_4" >
            <label class="description" for="element_4">Re-type Password </label>
            <div>
                {{ form.password2 }}
            </div>
            </li>		<li id="li_5" >
            <label class="description" for="element_5">Address </label>
            
            <div>
                {{ form.address }}
             
            </div><div class="left">
            <label class="description" for="element_5_5">Postal / Zip Code</label>
                {{ form.zipcode }}
                    
                    </div>
        
        </li>
                
                <li class="buttons">
                    <input type="hidden" name="form_id" value="718183" />
                        
                        <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
                </li>
                    </ul>
                </form>
                </div>
</div>
</div>

{% endblock %}